In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [5]:
housing_data= pd.read_csv("E:\\machine learning\\كورس الدكتور سعد\\housing.csv")

In [11]:
housing_data.shape

(5000, 7)

In [13]:
housing_data.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [19]:
housing_data.head(20)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
5,80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06,"06039 Jennifer Islands Apt. 443\nTracyport, KS..."
6,64698.463428,6.025336,8.147760,3.41,60828.249085,1.502056e+06,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ..."
7,78394.339278,6.989780,6.620478,2.42,36516.358972,1.573937e+06,"972 Joyce Viaduct\nLake William, TN 17778-6483"
8,59927.660813,5.362126,6.393121,2.30,29387.396003,7.988695e+05,USS Gilbert\nFPO AA 20957
9,81885.927184,4.423672,8.167688,6.10,40149.965749,1.545155e+06,Unit 9446 Box 0958\nDPO AE 97025
10,80527.472083,8.093513,5.042747,4.10,47224.359840,1.707046e+06,"6368 John Motorway Suite 700\nJanetbury, NM 26854"
11,50593.695497,4.496513,7.467627,4.49,34343.991886,6.637324e+05,"911 Castillo Park Apt. 717\nDavisborough, PW 7..."
12,39033.809237,7.671755,7.250029,3.10,39220.361467,1.042814e+06,"209 Natasha Stream Suite 961\nHuffmanland, NE ..."
13,73163.663441,6.919535,5.993188,2.27,32326.123139,1.291332e+06,"829 Welch Track Apt. 992\nNorth John, AR 26532..."
14,69391.380184,5.344776,8.406418,4.37,35521.294033,1.402818e+06,"PSC 5330, Box 4420\nAPO AP 08302"
15,73091.866746,5.443156,8.517513,4.01,23929.524053,1.306675e+06,"2278 Shannon View\nNorth Carriemouth, NM 84617"
16,79706.963058,5.067890,8.219771,3.12,39717.813576,1.556787e+06,"064 Hayley Unions\nNicholsborough, HI 44161-1887"
17,61929.077018,4.788550,5.097010,4.30,24595.901498,5.284852e+05,"5498 Rachel Locks\nNew Gregoryshire, PW 54755"
18,63508.194299,5.947165,7.187774,5.12,35719.653052,1.019426e+06,Unit 7424 Box 2786\nDPO AE 71255
19,62085.276403,5.739411,7.091808,5.49,44922.106702,1.030591e+06,"19696 Benjamin Cape\nStephentown, ME 36952-4733"

In [29]:
X = housing_data[['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
               'Avg. Area Number of Bedrooms', 'Area Population']]

y = housing_data['Price']

In [31]:
X.shape

(5000, 5)

In [32]:
y.shape

(5000,)

In [33]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train
X_test
y_train
y_test

1501    1.339096e+06
2586    1.251794e+06
2653    1.340095e+06
1055    1.431508e+06
705     1.042374e+06
            ...
908     1.383967e+06
2114    1.203090e+06
3896    8.592087e+05
1627    1.509423e+06
2873    9.987020e+05
Name: Price, Length: 1650, dtype: float64

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error 
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import median_absolute_error
#Applying Linear Regression Model 

LinearRegressionModel = LinearRegression()
LinearRegressionModel.fit(X_train, y_train)

#Calculating Details
print('Linear Regression Train Score is : ' , LinearRegressionModel.score(X_train, y_train))
print('Linear Regression Test Score is : ' , LinearRegressionModel.score(X_test, y_test))
print('Linear Regression Coef is : ' , LinearRegressionModel.coef_)
print('Linear Regression intercept is : ' , LinearRegressionModel.intercept_)
print('----------------------------------------------------')

#Calculating Prediction
y_pred = LinearRegressionModel.predict(X_test)
print('Predicted Value for Linear Regression is : ' , y_pred[:10])

#----------------------------------------------------
#Calculating Mean Absolute Error
MAEValue = mean_absolute_error(y_test, y_pred, multioutput='uniform_average') # it can be raw_values
print('Mean Absolute Error Value is : ', MAEValue)

#----------------------------------------------------
#Calculating Mean Squared Error
MSEValue = mean_squared_error(y_test, y_pred, multioutput='uniform_average') # it can be raw_values
print('Mean Squared Error Value is : ', MSEValue)

#----------------------------------------------------
#Calculating Median Squared Error
MdSEValue = median_absolute_error(y_test, y_pred)
print('Median Squared Error Value is : ', MdSEValue )

Linear Regression Train Score is :  0.9186953001963705
Linear Regression Test Score is :  0.9165334724138312
Linear Regression Coef is :  [2.15898874e+01 1.66102501e+05 1.19895936e+05 1.90107101e+03
 1.52315025e+01]
Linear Regression intercept is :  -2638142.110428784
----------------------------------------------------
Predicted Value for Linear Regression is :  [1310035.96931558 1238811.85458523 1245265.83079157 1229442.73657082
 1059067.48928404 1542540.30796579 1096297.80142114  833030.74689251
  789822.68304101 1468678.94514036]
Mean Absolute Error Value is :  80893.81190769986
Mean Squared Error Value is :  10013679978.582378
Median Squared Error Value is :  70451.62402357766